@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
body { font-family: 'Inter', sans-serif; }
.navlink { padding: 0.4rem 0.8rem; border-radius: 0.75rem; }
.navlink:hover { background-color: rgba(0,0,0,0.05); }
